/target*
.classpath
.settings
.project
web-app/WEB-INF/classes/
stacktrace.log
plugin.xml
grails-spring-security-saml-*.zip
grails-spring-security-saml-*.zip.*
spring-security-saml-*-plugin.xml
spring-security-saml-*.pom
.DS_Store