<plugin name='spring-security-saml' version='1.0.0.M1' grailsVersion='1.3 &gt; *'>
  <author>Alvaro Sanchez-Mariscal</author>
  <authorEmail>alvaro.sanchez@salenda.es</authorEmail>
  <title>SAML 2.x support for the Spring Security Plugin</title>
  <description>SAML 2.x support for the Spring Security Plugin
</description>
  <documentation>http://grails.org/plugin/spring-security-saml</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>DefaultSamlSecurityConfig</resource>
    <resource>SamlSecurityConfig</resource>
    <resource>UrlMappings</resource>
    <resource>es.salenda.grails.plugins.springsecurity.saml.MetadataController</resource>
    <resource>test.TestRole</resource>
    <resource>test.TestSamlUser</resource>
    <resource>test.TestUserRole</resource>
    <resource>es.salenda.grails.plugins.springsecurity.saml.SamlSecurityService</resource>
    <resource>es.salenda.grails.plugins.springsecurity.saml.SamlTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>